<!-- ====================================================================================== -->
<!--                                   Service Tiles                                        -->
<!-- ====================================================================================== -->


<section id="services-877">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Massage Treatments</span>
            <h2 class="cs-title">Our Massage Treatments</h2>
            <p class="cs-text">
                Step into a world of traditional Thai healing at Skipton Thai Massage. From deeply therapeutic treatments to gentle relaxation therapies, each session is thoughtfully personalised to achieve your wellness goals. Our range of authentic Thai massage techniques helps address muscle tension, reduce stress and restore natural balance.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-1.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/service-1.jpg" | resize({width: 688, height: 480}) | jpeg %}" alt="Back-Shoulder & Neck Massage" width="413" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Back-Shoulder & Neck Massage</h3>
                    <p class="cs-item-text">
                        <strong>40 Min £40</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>60 Min £55</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Min £80</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        Focused treatment targeting common problem areas of the back, neck, and shoulders. Combines traditional Thai techniques with pressure point therapy to release tension and improve mobility.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-2.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/service-2.jpg" | resize({width: 688, height: 480}) | jpeg %}" alt="Foot-Leg Massage" width="413" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Foot-Leg Massage</h3>
                    <p class="cs-item-text">
                        <strong>40 Min £40</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>60 Min £55</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Min £80</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        Traditional Thai foot and leg therapy uses pressure points to stimulate energy flow. It improves circulation, reduces swelling, and relieves tired, achy legs and feet.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-3.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-3.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-3.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-3.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-3.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-3.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-3.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-3.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-3.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/service-3.jpg" | resize({width: 688, height: 480}) | jpeg %}" alt="Relaxing Thai Hot Oil Massage" width="413" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Relaxing Thai Hot Oil Massage</h3>
                    <p class="cs-item-text">
                        <strong>60 Min £55</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Min £80</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>120 Min £100</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        A gentle, flowing massage using warm aromatherapy oils to ease tension and promote relaxation. Perfect for those new to massage or preferring lighter pressure, it helps reduce stress and improve sleep quality.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-4.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/service-4.jpg" | resize({width: 688, height: 480}) | jpeg %}" alt="Thai Hot Oil Deep Tissue Massage" width="413" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Thai Hot Oil Deep Tissue Massage</h3>
                    <p class="cs-item-text">
                        <strong>60 Min £60</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Min £85</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>120 Min £110</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        Intensive therapy combining Thai techniques with deep tissue work. Uses firm pressure and warm oil to target chronic muscle tension and knots. Ideal for sports recovery and chronic pain.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/service-5.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/service-5.jpg" | resize({width: 688, height: 480}) | jpeg %}" alt="Thai Hot Oil Deep Tissue Massage" width="413" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Lymphatic Drainage Massage</h3>
                    <p class="cs-item-text">
                        <strong>60 Min £60</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Min £90</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>120 Min £110</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        A gentle, rhythmic massage technique that stimulates lymph flow. Helps reduce swelling, supports the immune system, aids detoxification, and promotes natural healing. Perfect for post-surgery recovery.
                    </p>
                </a>
            </li>
        </ul>
        <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-button-solid">Schedule A Massage</a>
    </div>
</section>




